In [8]:
import pandas as pd
import re
import emoji
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer
from nltk.probability import FreqDist
import nltk
from nltk.corpus import stopwords

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.isnull().sum()

Unnamed: 0    0
text          0
id            0
dtype: int64

In [4]:
data.columns

Index(['Unnamed: 0', 'text', 'id'], dtype='object')

In [5]:
data = data.drop('Unnamed: 0',axis=1)

In [6]:
data.columns

Index(['text', 'id'], dtype='object')

In [7]:
def remove_username(string):
     string = re.sub('@[\w]+','',string)
     return string


def remove_emoji(string):
   return emoji.get_emoji_regexp().sub(u'', string)


def remove_URL(string):
     string = re.sub("http\S+",'',string)
     return string


def remove_punctuation(string):
     string = re.sub('[^\w\s]','',string)
     return string

In [15]:
data['text'] = data['text'].apply(remove_username)
data['text'] = data['text'].apply(remove_emoji)
data['text'] = data['text'].apply(remove_URL)
data['text'] = data['text'].apply(remove_punctuation)

### Removing stopwords

In [ ]:
stop = stopwords.words('arabic')
data['text'] = data['text'].apply(lambda x: [item for item in x if item not in stop])

In [16]:
columns_titles = ["id","text"]
df=data.reindex(columns=columns_titles)

In [18]:
idx = pd.read_csv('dialect_dataset.csv')

In [19]:
idx

                         id dialect
0       1175358310087892992      IQ
1       1175416117793349632      IQ
2       1175450108898565888      IQ
3       1175471073770573824      IQ
4       1175496913145217024      IQ
...                     ...     ...
458192  1019484980282580992      BH
458193  1021083283709407232      BH
458194  1017477537889431552      BH
458195  1022430374696239232      BH
458196  1022409931029458944      BH

[458197 rows x 2 columns]

In [20]:
dialect = idx['dialect']
df = df.join(dialect)

In [22]:
df.to_csv('data_cleaned_1.csv', index=False)